.album {
  padding-top: 0px;
  padding-bottom: 0px;
}

.card {
  float: left;
  width: auto;
  padding: .25rem;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  text-align: center;
  width: 120px;
  font-size: 80%;
}

.card .popover {
    visibility: hidden;
    width: 120px;
    height: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    font-size: 80%;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.card:hover .popover {
    visibility: visible;
    opacity: 0.8;
}
